#будет игнорироваться каталог tmp
#вне зависимости от того, в каком каталоге он находится
#слеш в конце указывает, что это каталог
tmp/
#будут игнорироваться файлы с суффиксами _old
#вне зависимости от того, в каком каталоге они находятся
_old
#будут игнорироваться файлы с суффиксами _backup
#вне зависимости от того, в каком каталоге они находятся
_backup
#будут игнорироваться все файлы и каталоги Thumbs.db
#вне зависимости от того, в каком каталоге они находятся
Thumbs.db
#будут игнорироваться все файлы и каталоги .DS_Store
#вне зависимости от того, в каком каталоге они находятся
.DS_Store
